.quest-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    padding: 15px;
    border-radius: 5px;
}
.quest-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.quest-image {
    width: 200px;
    height: 150px;
    background-image: url(../img/bird.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.name-bird {
    margin-top: 20px;
    font-size: 25px;
}
.react-audio-player {
    width: 100%;
}