.options-block {
    width: 30%;
}
.list-group-item {
    background-color: #303030;
    cursor: pointer;
    border: 1px solid #585858;
}
.list-group-item:hover {
    background-color: #272727;
}
.li-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #444;
}
.win-item {
    background-color: #20e69a;
}
.error-item {
    background-color: #e44343;
}

@media screen and (max-width: 600px) {
    .options-block {
        width: 100%;
    }
}