.description {
    width: 68%;
    background-color: #303030;
    padding: 15px;
    border-radius: 5px;
}
.descrip-top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.descrip-top-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-evenly;
}
.descrip-image {
    width: 200px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 10px;
}
.hide {
    display: none;
}

@media screen and (max-width: 600px) {
    .description {
        width: 100%;
        margin-top: 20px;
    }
}