body {
    background-color: #222;
}
.app {
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    padding: 0 50px;
}
.bottom-block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .app {
        padding: 0 10px;
    }
    .bottom-block {
        flex-direction: column;
    }
}